#about h5{
    padding-top:2rem;
    
}

#about h2{
    margin-bottom: 1.8rem;
}
.about-container{
    display:grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
.about-container h2{
    margin-bottom: 0.5rem;
}
.about-me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, var(--color-primary),transparent);
    display:grid ;
    place-items: center;
    padding:1rem;
}

.about-me-img{
    display:block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    /* transform:rotate(10deg); */
    transform: scale(1);
    transition: var(--transition);
    cursor: default;
} 

.about-me-img:hover{
    /* transform: rotate(0deg); */
    transform: scale(1.1);
}


/*** Styling right side of about section ***/

.about-content p{
    margin: 0.2rem 0 1rem;
    color: var(--color-light);
    text-align:justify;
    letter-spacing: 1px;
}


/***media query for medium devices ***/
@media screen and (max-width:1024px){
    .about-container{
        grid-template-columns: 1fr;
        gap: 0;
        height:120vh;
        
    }
    .about-me{
        width: 50%;
        margin: 2rem auto 4rem;
    }
     .about-content p{
        margin:1rem 0 1.5rem;
    } 
  }
  
  /***media query for mobile phones ***/
  @media screen and (max-width:600px){
    .about-me{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about-cards{
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }
    .about-content{
        text-align: center;
    }
    .about-content p{
        margin: 1rem 0;
    }
  }  